.autocomplete-expand {
	max-width: 550px;
	width: 100%;
}

.dropdown-menu.date-picker-dropdown-menu {
	max-width: 368px;
}

@media (max-width: 768px) {
	.autocomplete-expand {
		max-width: 505px;
	}
}
