const simulationToggle = document.getElementById('${portletNamespace}simulationToggleId');

const sidenavInstance = Liferay.SideNavigation.initialize(simulationToggle);

sidenavInstance.on(
	'open.lexicon.sidenav',
	function(event) {

		const simulationPanel = document.getElementById('${portletNamespace}simulationPanelId');
		simulationPanel.focus();
	}
);

Liferay.once(
	'screenLoad',
	function() {
		Liferay.SideNavigation.destroy(simulationToggle);
	}
);
