.banner {
	background: var(--neutral-01, #f7f7f8);
	border-radius: 10px;
	box-shadow: 0px 5px 15px 0px rgba(19, 20, 31, 0.12);
}

.banner__buttons-container {
	flex-direction: column;
	gap: 1rem;
	min-width: 200px;
	width: 100%;
}

.banner__content {
	flex-direction: row;
	flex-flow: wrap;
}

.banner__content__app__image_container {
	display: flex;
}

.banner__content__brand {
	color: var(--neutral-08, #54555f);
	display: none;
}

.banner__contact-button {
	border-radius: 8px !important;
	padding: 12px 16px;
	width: 200px;
}

.banner__content__brand-mobile {
	color: var(--neutral-08, #54555f);
	font-size: 16px;
}

.banner__content-title {
	color: var(--neutral-10, #282934);
	font-size: 23px;
	white-space: normal;
}

.banner__free-trial-button {
	border-radius: 8px !important;
	padding: 12px 16px;
	width: 200px;
}

.banner__title__container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.banner__tag-container {
	display: none;
}

.banner__tag-container-mobile {
	margin: 16px 0;
}

.banner__product-tag {
	background-color: #e6ebf5;
	color: #1c3667;
	font-size: 0.8125rem;
	white-space: nowrap;
}

.liferay__icon {
	display: none;
	height: 32px;
	width: 32px;
}

.share__icon {
	display: none;
	height: 32px;
	width: 32px;
}

@media only screen and (min-width: 798px) {
	.banner__content {
		flex-direction: column;
		flex-flow: nowrap;
	}

	.banner__content__brand {
		align-items: center;
		color: var(--neutral-08, #54555f);
		display: flex;
	}

	.banner__content__brand-mobile {
		display: none;
	}

	.banner__buttons-container {
		align-items: flex-end;
		align-self: center;
		flex-direction: column;
		gap: 0.5rem;
		max-width: 200px;
	}

	.banner__contact-button {
		padding: 10px 16px;
	}

	.banner__free-trial-button {
		padding: 10px 16px;
	}

	.banner__tag-container {
		display: flex;
		flex-wrap: nowrap;
		gap: 0.5rem;
	}

	.banner__tag-container-mobile {
		display: none;
	}

	.banner__title__container {
		display: flex;
		flex-direction: column;
		width: 400px;
	}

	.banner__title__section {
		display: flex;
		width: 100%;
	}

	.liferay__icon {
		display: block;
	}

	.share__icon {
		align-items: center;
		display: flex;
		justify-content: center;
	}
}

@media only screen and (min-width: 1090px) {
	.banner__buttons-container {
		align-self: flex-start;
		flex-direction: row;
		gap: 1.5rem;
		justify-content: flex-end;
		max-width: 400px;
	}

	.banner__contact-button {
		padding: 12px 16px;
	}

	.banner__free-trial-button {
		padding: 12px 16px;
	}

	.banner__tag-container {
		display: flex;
		flex-flow: nowrap;
		gap: 1rem;
		min-width: 400px;
	}

	.banner__title__container {
		display: flex;
		flex-direction: column;
		max-width: 100%;
		width: 100%;
	}

	.banner__title__section {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	.share__icon {
		height: 32px;
		margin-top: 0.5rem;
		width: 32px;
	}
}
