[#assign publisherEmail = configuration.publisherEmail]

<div class="banner p-4 p-lg-5 p-md-5 p-sm-4">
	<div class="banner__content d-flex justify-content-between align-items-center">
		<div class="d-flex flex-column justify-content-between w-100">
			<div class="align-items-center d-flex w-100">
				<div class="banner__content__app__image_container">
					<img alt="App Logo" data-lfr-editable-id="image-editable-product-logo" data-lfr-editable-type="image" src="[resources:app_image.svg]" />
				</div>

				<div class="banner__title__container ml-2">
					<div class="banner__title__section">
						<div class="banner__content-title ml-2 font-weight-bold">
							Clarity Customer Portal
							<span class="banner__content__brand-mobile font-weight-normal">
								Liferay
							</span>
						</div>

						<div class="share__icon ml-2 mr-lg-4" onclick="Liferay.fire('copy-link')">
							<i>[@clay.icon symbol="share" /]</i>
						</div>
					</div>

					<div class="align-items-center d-flex flex-nowrap ml-2">
						<div class="d-flex">
							<div class="liferay__icon">
								<img alt="Liferay Logo" src="[resources:liferay.svg]" />
							</div>

							<span class="banner__content__brand font-weight-normal ml-2">
								Liferay
							</span>
						</div>

						<div class="d-flex ml-3">
							<div class="banner__tag-container">
								<span class="banner__product-tag rounded py-1 px-2">Experience Management</span>
								<span class="banner__product-tag rounded py-1 px-2">Analytics</span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="d-flex">
				<div class="banner__tag-container-mobile justify-content-between">
					<span class="banner__product-tag rounded py-2 px-3">Experience Management</span>
					<span class="banner__product-tag rounded py-1 px-2">Analytics</span>
				</div>
			</div>
		</div>

		<div class="banner__buttons-container d-flex">
			<button aria-label="Contact Publisher" class="banner__contact-button btn btn-outline-primary w-100 text-nowrap" onclick="Liferay.fire('contact-publisher');" value=`${publisherEmail}`>
				Contact Publisher
			</button>

			<button aria-label="Free 30 day trial" class="banner__free-trial-button btn btn-primary w-100 text-nowrap" onclick="Liferay.fire('start-trial');">
				Free 7 Day Trial
			</button>
		</div>
	</div>
</div>