[#assign
	channelName = configuration.channelName
	publisherEmail = configuration.publisherEmail
	vocabulary = configuration.categoryVocabulary
/]

[#if themeDisplay?has_content]
	[#assign scopeGroupId = themeDisplay.getScopeGroupId() /]
[/#if]

[#if channelName?has_content && scopeGroupId?has_content]
	[#assign url = "/headless-commerce-delivery-catalog/v1.0/channels?accountId=-1&filter=name eq '${channelName}' and siteGroupId eq '${scopeGroupId}'"/]
	[#if url?has_content]
		[#assign channels = restClient.get('${url}').items /]
	[/#if]
[/#if]

[#if channels?has_content ]
	[#list channels as channel]
		[#assign channelId = channel.id /]
		[#break /]
	[/#list]
[/#if]

[#assign productId = configuration.productId /]

[#if productId?has_content]
	[#assign newProductId = productId?number/]
[/#if]

[#if channelId?has_content && productId?has_content && newProductId?has_content]
	[#assign
		product = restClient.get("/headless-commerce-delivery-catalog/v1.0/channels/${channelId}/products/${newProductId+1}?accountId=-1&nestedFields=productSpecifications,categories")
		productCategories = product.categories![]
	/]
[/#if]

<div class="banner p-4 p-lg-5 p-md-5 p-sm-4">
	<div class="banner__content d-flex justify-content-between align-items-center">
		<div class="d-flex flex-column justify-content-between w-100">
			<div class="align-items-center d-flex w-100">
				<div class="banner__content__app__image_container">
					<img alt="App Logo" data-lfr-editable-id="image-editable-product-logo" data-lfr-editable-type="image" src="[resources:app_image.svg]" />
				</div>

				<div class="banner__title__container ml-2">
					<div class="banner__title__section">
						<div class="banner__content-title ml-2 font-weight-bold">
							Clarity Customer Portal
							<span class="banner__content__brand-mobile font-weight-normal">
								Liferay
							</span>
						</div>

						<div class="share__icon ml-2 mr-lg-4" onclick="Liferay.fire('copy-link')">
							<i>[@clay.icon symbol="share" /]</i>
						</div>
					</div>

					<div class="align-items-center d-flex flex-nowrap ml-2">
						<div class="d-flex">
							<div class="liferay__icon">
								<img alt="Liferay Logo" src="[resources:liferay.svg]" />
							</div>

							<span class="banner__content__brand font-weight-normal ml-2">
								Liferay
							</span>
						</div>

						<div class="d-flex ml-3">
							<div class="banner__tag-container">
								<div class="d-flex flex-wrap" id="category-label">
									[#if productCategories?has_content && vocabulary?has_content ]
										[#assign solutionCategories = productCategories?filter(productCategory -> productCategory.vocabulary=="${vocabulary}") /]
										[#list solutionCategories as solutionCategory]
											<span class="banner__product-tag rounded m-1 py-1 px-2">${solutionCategory.name}</span>
										[/#list]
									[/#if]
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="d-flex">
				<div class="banner__tag-container-mobile justify-content-between">
					[#if productCategories?has_content && vocabulary?has_content ]
						[#assign solutionCategories = productCategories?filter(productCategory -> productCategory.vocabulary=="${vocabulary}") /]
						[#list solutionCategories as solutionCategory]
							<span class="banner__product-tag rounded m-1 py-1 px-2">${solutionCategory.name}</span>
						[/#list]
					[/#if]
				</div>
			</div>
		</div>

		<div class="banner__buttons-container d-flex">
			<button aria-label="Contact Publisher" class="banner__contact-button btn btn-outline-primary w-100 text-nowrap" onclick="Liferay.fire('contact-publisher');" value=`${publisherEmail}`>
				Contact Publisher
			</button>

			<button aria-label="Free 30 day trial" class="banner__free-trial-button btn btn-primary w-100 text-nowrap" onclick="Liferay.fire('start-trial');">
				Free 7 Day Trial
			</button>
		</div>
	</div>
</div>