.dropdown-menu {
	max-width: 14.5rem;
}

.lfr-objects__model-builder-node {
	&-container {
		background: #fff;
		border: 0.125rem solid #d3d6e0;
		border-radius: 0.25rem;
		height: auto;

		&:active {
			border: 0.125rem solid #0b5fff;
		}

		&:hover {
			border: 0.125rem solid #b3cdff;

			transition: border 0.5s;
		}

		&--selected {
			border: 0.125rem solid #0b5fff !important;
			box-shadow: rgba(17, 17, 26, 0.1) 0 4px 16px,
				rgba(17, 17, 26, 0.05) 0 8px 32px;

			transition: border 0.2s;
		}
	}
}
