<footer class="c-py-8 c-py-lg-10 c-py-md-8 c-py-sm-8 public-footer px-8 text-white">
	<div class="align-start d-flex justify-content-between max-nav mx-auto my-0 px-0 py-6">
		<div class="col-10 col-lg-10 col-md-8 col-sm-10 d-flex flex-column flex-wrap footer-navigation px-0">
			<div class="mb-6 ml-2">
				<div>
					<span class="globe-icon pr-2">[@clay["icon"] symbol="globe-lines"/]</span>
				 	<span>English (United States)</span>
				</div>
			</div>

			<div class="d-flex">
				<section class="c-mb-10 c-mb-lg-0 c-mb-md-10 col-lg-3 col-md-9 section-title">
					<h6 class="c-mb-4 font-weight-bolder">PLATFORM</h6>

					<ul class="c-p-0 d-inline-flex flex-column nav">
						<li class="c-mb-3">
							<a class="c-p-0 font-weight-semi-bold nav-link public-footer-opacity--70" href="https://www.liferay.com/resources">Resource Library</a>
						</li>
						<li class="c-mb-3">
							<a class="c-p-0 font-weight-semi-bold nav-link public-footer-opacity--70" href="https://www.liferay.com/subscription-services">Subscription Services</a>
						</li>
						<li class="c-mb-3">
							<a class="c-p-0 font-weight-semi-bold nav-link public-footer-opacity--70" href="https://www.liferay.com/request-a-demo">Request a Demo</a>
						</li>
						<li class="c-mb-3">
							<a class="c-p-0 font-weight-semi-bold nav-link public-footer-opacity--70" href="home">Marketplace Apps</a>
						</li>
						<li class="c-mb-3">
							<a class="c-p-0 font-weight-semi-bold nav-link public-footer-opacity--70" href="https://www.liferay.com/products/dxp/30-day-trial">30 Day Trial</a>
						</li>
					</ul>
				</section>

				<section class="c-mb-10 c-mb-lg-0 c-mb-sm-10 col-lg-2 col-md-10 section-title">
					<h6 class="c-mb-4 font-weight-bolder">COMPANY</h6>

					<ul class="c-p-0 d-inline-flex flex-column nav">
						<li class="c-mb-3">
							<a class="c-p-0 font-weight-semi-bold nav-link public-footer-opacity--70" href="https://www.liferay.com/press-releases">Press Releases</a>
						</li>
						<li class="c-mb-3">
							<a class="c-p-0 font-weight-semi-bold nav-link public-footer-opacity--70" href="https://www.liferay.com/careers">Careers</a>
						</li>
						<li class="c-mb-3">
							<a class="c-p-0 font-weight-semi-bold nav-link public-footer-opacity--70" href="https://www.liferay.com/gdpr">GDPR</a>
						</li>
						<li class="c-mb-3">
							<a class="c-p-0 font-weight-semi-bold nav-link public-footer-opacity--70" href="https://www.liferay.com/company/our-story">Our Story</a>
						</li>
						<li>
							<a class="c-p-0 font-weight-semi-bold nav-link public-footer-opacity--70" href="https://www.liferay.com/compliance">Compliance</a>
						</li>
					</ul>
				</section>

				<section class="c-mb-10 c-mb-lg-0 c-mb-sm-10 col-lg-2 col-md-10 section-title">
					<h6 class="c-mb-4 font-weight-bolder">EXPAND & CONNECT</h6>

					<ul class="c-p-0 d-inline-flex flex-column nav">
						<li class="c-mb-3">
							<a class="c-p-0 font-weight-semi-bold nav-link public-footer-opacity--70" href="https://liferay.dev/">Community</a>
						</li>
						<li class="c-mb-3">
							<a class="c-p-0 font-weight-semi-bold nav-link public-footer-opacity--70" href="https://portal.liferay.dev/">Developer Network</a>
						</li>
						<li class="c-mb-3">
							<a class="c-p-0 font-weight-semi-bold nav-link public-footer-opacity--70" href="solutions-marketplace">Marketplace</a>
						</li>
						<li class="c-mb-3">
							<a class="c-p-0 font-weight-semi-bold nav-link public-footer-opacity--70" href="/c/portal/login">Account</a>
						</li>
						<li>
							<a class="c-p-0 font-weight-semi-bold nav-link public-footer-opacity--70" href="#">Sign Out</a>
						</li>
					</ul>
				</section>
			</div>
		</div>

		<div class="c-mt-6 c-mt-lg-8 c-mt-md-8 c-mt-sm-6 c-pb-4 d-flex flex-column footer-bottom mt-0 p-0">
			<div class="my-4">
				<ul class="d-flex justify-content-md-end nav order-1 order-lg-2 order-md-2 order-sm-1">
					<li class="c-mr-3">
						<lfr-drop-zone></lfr-drop-zone>
					</li>
					<li class="c-mr-3">
						<lfr-drop-zone></lfr-drop-zone>
					</li>
					<li class="c-mr-3">
						<lfr-drop-zone></lfr-drop-zone>
					</li>
					<li class="c-mr-3">
						<lfr-drop-zone></lfr-drop-zone>
					</li>
					<li class="c-mr-3">
						<lfr-drop-zone></lfr-drop-zone>
					</li>
					<li class="c-mr-0">
						<lfr-drop-zone></lfr-drop-zone>
					</li>
				</ul>
			</div>

			<div>
				<ul>
					<li class="contact-list">
					 	<p>
							<a class="font-weight-semi-bold h6 py-4" href="https://www.liferay.com/contact-us">Contact Us</a>
					  	</p>
						<div class="contact-address">
							<div class="contact-container">
								<p class="mb-0">1400 Montefino Avenue</p>
								<p class="mb-0">Diamond Bar, CA</p>
								<p class="mb-0">91765</p>
								<p class="mb-0">USA</p>
							</div>

							<p class="mb-0">+1-877-LIFERAY</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="d-flex flex-wrap justify-content-between max-nav mx-auto py-6">
		<p class="c-mb-0 font-weight-normal public-footer-opacity--50">Powered by Liferay</p>
		<p class="c-mb-0 font-weight-normal public-footer-opacity--50">© 2023 Liferay Inc. All Rights Reserved.</p>

		<a class="c-mb-0 font-weight-normal public-footer-opacity--50" href="https://www.liferay.com/privacy-policy">Privacy Policy</a>
	</div>
</footer>