.dashboard-navigation {
	&-container {
		display: flex;
		flex-direction: column;
		max-width: 17.5rem;
	}

	&-header {
		align-items: center;
		background-color: #f7f7f8;
		border-radius: 0.625rem;
		cursor: pointer;
		display: flex;
		height: 4.5rem;
		justify-content: space-between;
		margin-bottom: 1rem;
		padding: 1.25rem;
		width: 17.5rem;

		&-left-content {
			align-items: center;
			display: flex;
			justify-content: center;
		}

		&-logo {
			height: 3rem;
			margin-right: 0.75rem;
			width: 3rem;
		}

		&-text-container {
			display: flex;
			flex-direction: column;
		}

		&-title {
			color: #282934;
			font-size: 1rem;
			font-weight: 600;
			line-height: 1.5rem;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			width: 190px;
		}

		&-apps {
			color: #54555f;
			font-size: 0.813rem;
			line-height: 1rem;
		}

		&-arrow-down {
			display: none;
			height: 1rem;
			width: 1rem;
		}

		&:hover,
		&[aria-expanded='true'] {
			background: #edf3fe;

			.dashboard-navigation-header-arrow-down {
				display: block;
				fill: #0053f0;
			}
		}
	}

	&-body {
		background-color: #f7f7f8;
		border-radius: 0.625rem;
		padding: 0.5rem;
		width: 17.5rem;
	}
}
