@import 'atlas-variables';

.contributor-builder-root {
	.criteria-builder-section-main,
	.criteria-builder-section-sidebar {
		transition: all 0.5s ease;
	}

	.criteria-builder-section-main {
		.criteria-builder-empty-errors-alert {
			border-bottom: 1px solid;
			z-index: 1;
		}

		.contributor-container {
			background-color: $light;

			.container-fluid {
				transition: all 0.5s ease;

				.content-wrapper {
					.empty-contributors {
						background: $light-l1;
						border: 2px dashed $secondary-l2;
					}
				}
			}
		}

		.sheet {
			.criterion-string {
				color: $secondary;
				font-weight: 600;
			}
		}
	}

	.criteria-builder-section-sidebar {
		height: calc(100% - 121px);
		right: 0;
		top: 121px;
		width: 0;
		z-index: 10;

		&--with-warning {
			height: calc(100% - 177px);
			top: 177px;
		}
	}

	.drag-icon {
		cursor: grab;
	}

	&.editing {
		.criteria-builder-section-main {
			padding-right: $sidebarWidth;

			.contributor-container .container-fluid {
				padding-right: $sidebarWidth;

				.content-wrapper {
					height: 100%;
					overflow: auto;
					position: relative;
				}
			}

			@media (min-width: $pageContentMaxWidth) {
				.contributor-container .container-fluid {
					padding-right: calc(
						#{$sidebarWidth} - ((100% - #{$pageContentMaxWidth}) / 2)
					);

					.content-wrapper {
						padding-right: 32px;
					}
				}
				.criteria-builder-empty-errors-alert {
					&__inner {
						margin: 0 auto;
						max-width: $pageContentMaxWidth;
						padding-right: calc(
							#{$sidebarWidth} - ((100% - #{$pageContentMaxWidth}) /
										2)
						);
					}
				}
			}
		}

		.criteria-builder-section-sidebar {
			width: $sidebarWidth;
		}
	}
}
