.license-selector-timeline {
	.license-selector {
		display: flex;
		gap: 0 16px;

		.card-button {
			width: 100%;
			.license-icon {
				height: 16px;
				width: 16px;
				svg {
					filter: invert(21%) sepia(91%) saturate(3572%)
						hue-rotate(220deg) brightness(100%) contrast(101%);
				}
			}
		}
	}
}
