.clarity-tabs .icon-img {
	height: 48px !important;
	width: 48px !important;
}

.clarity-tabs .tab-panel {
	flex-grow: 2;
}

.clarty-tabs .tab-panel-item img {
	height: 536px !important;
	width: 970px !important;
}

.clarity-nav-button {
	align-items: center;
	display: flex;
	height: 133px;
	justify-content: left;
	max-width: 326px;
}

.clarity-nav-button span {
	margin-left: 5px;
}

.clarity-tabs .tab-panel-item,
.clarity-tabs .tab-panel-item div {
	height: 100%;
}
