html:not(#__):not(#___) .cadmin .dropdown-menu.fds-entries-dropdown-menu {
	max-height: 500px;
	max-width: 550px;
	width: 100%;
}

html:not(#__):not(#___) .cadmin .input-localized .form-group {
	margin-bottom: 0;
}
