@import 'atlas-variables';

.orderable-table-sheet {
	margin-top: 1rem;

	.c-empty-state {
		text-align: center;
	}

	.orderable-table.table-autofit {
		td,
		th {
			width: inherit;

			&.actions-cell {
				padding-right: 18px;
				width: 0;
			}

			&.drag-handle-cell {
				width: 0;
			}
		}
	}

	.orderable-table-row.dragging {
		opacity: 0.5;
	}

	.sheet-header {
		border-bottom: 1px solid $gray-200;
		margin-bottom: 0;
	}
}

.tab-pane .orderable-table-sheet {
	border-width: 0;
	margin-top: 0;
	padding: 0;
}
